@import "reset.css";
@import "common.css";

@import "header.css";
@import "nav.css";
@import "link.css";
@import "footer.css";
@import "top_btn.css";
@import "slider.css";

@import "home.css";
@import "about.css";
@import "portfolio.css";
@import "contact.css";
@import "cv.css";

a {
    text-decoration: none;    
}
body{
    background-image:url('../image/sky.png');
    background-size: cover;
    width: 100%;
    height:89vh;
    box-sizing: border-box;
}